<header class="site-header">
  <div class="wrapper">
    <a class="site-title" rel="author" href="/knowledge-base/">知识库</a>

    <nav class="site-nav">
      <input type="checkbox" id="nav-trigger" />
      <label for="nav-trigger">
        <span class="menu-icon"></span>
      </label>

      <div class="trigger">
        <a class="page-link" href="/knowledge-base/">首页</a>
        <a class="page-link" href="/knowledge-base/raw/articles/dexter-financial-claude-code.html">金融界的 Claude Code 来了</a>
        <a class="page-link" href="/knowledge-base/raw/articles/scrapling-wechat.html">爬虫天花板</a>
        <a class="page-link" href="/knowledge-base/raw/articles/worldmodel-meta.html">Meta世界模型</a>
      </div>
    </nav>
  </div>
</header>
